<h1>Your Test Drive Session has been Scheduled</h1>

  Date: <%= @bookings.date %> <br/>
  Start time: <%= @bookings.start_time %> <br/>
  End time: <%= @bookings.end_time %> <br/> <br/>

  <%= link_to "Show all Cars", listings_path%>
